<div id="footer" class="clearfix">
			<footer id="colophon" class="site-footer" role="contentinfo">
				<nav id="footer-nav" class="secondary-navigation">
					<ul class="list-inline">
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Terms &amp; Conditions</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>

				<section class="copyright">
					<div class="site-info">
						<p>&copy; 2013 | www.clipeo.me | All Rights Reserved</p>
					</div><!-- /.site-info -->
				</section><!-- /.copyright -->
			</footer>
		</div><!-- /#footer -->
				<!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		<%= javascript_include_tag "application" %>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>